<section class="about-page">
    <div class="container">
        <img src="assets/images/owner.png" class="image" alt="Photo des deux gérants du vieux café"/>
        <div class="story">
            <p class="silent-title">L'histoire du restaurant</p>
            <h2><b>La petite histoire</b> du Vieux Café</h2> <br>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea Aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd diam nonumy eirmod tempor invidunt ut labore et dolore
                magna invidunt ut labore et sed diam Aliquyam erat, sed diam voluptua. et accusam et justo duo dolores
                et ea rebum.</p> <br>
            <a href="">VOIR PLUS</a>
        </div>
    </div>
</section>
