<section class="event-page">
    <div class="top-title">
        <p>Événements du vieux café</p>
        <h1>Les événements</h1>
    </div>
    <div class="carousel">
        <div class="card card-alignement">
            <img src="chouffe.png" alt="De la biere">
            <div class="card-content">
                <div class="date">
                    <p><span>20</span>NOV</p>
                </div>
                <h2 class="event-title">Soirée Chouffe</h2>
                <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea stet.</p>
            </div>
        </div>
        <div class="card card-alignement">
            <img src="chouffe.png" alt="De la biere">
            <div class="card-content">
                <div class="date">
                    <p><span>20</span>NOV</p>
                </div>
                <h2 class="event-title">Soirée Chouffe</h2>
                <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea stet.</p>
            </div>
        </div>
        <div class="card card-alignement">
            <img src="chouffe.png" alt="De la biere">
            <div class="card-content">
                <div class="date">
                    <p><span>20</span>NOV</p>
                </div>
                <h2 class="event-title">Soirée Chouffe</h2>
                <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea stet.</p>
            </div>
        </div>
        <div class="card card-alignement">
            <img src="chouffe.png" alt="De la biere">
            <div class="card-content">
                <div class="date">
                    <p><span>20</span>NOV</p>
                </div>
                <h2 class="event-title">Soirée Chouffe</h2>
                <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea stet.</p>
            </div>
        </div>
        <div class="card card-alignement">
            <img src="chouffe.png" alt="De la biere">
            <div class="card-content">
                <div class="date">
                    <p><span>20</span>NOV</p>
                </div>
                <h2 class="event-title">Soirée Chouffe</h2>
                <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea stet.</p>
            </div>
        </div>
        <div class="card card-alignement">
            <img src="chouffe.png" alt="De la biere">
            <div class="card-content">
                <div class="date">
                    <p><span>20</span>NOV</p>
                </div>
                <h2 class="event-title">Soirée Chouffe</h2>
                <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea stet.</p>
            </div>
        </div>
        <div class="card card-alignement">
            <img src="chouffe.png" alt="De la biere">
            <div class="card-content">
                <div class="date">
                    <p><span>20</span>NOV</p>
                </div>
                <h2 class="event-title">Soirée Chouffe</h2>
                <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea stet.</p>
            </div>
        </div>
        <div class="card card-alignement">
            <img src="chouffe.png" alt="De la biere">
            <div class="card-content">
                <div class="date">
                    <p><span>20</span>NOV</p>
                </div>
                <h2 class="event-title">Soirée Chouffe</h2>
                <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea stet.</p>
            </div>
        </div>
    </div>
</section>
