<section class="event-page">
    <div class="top-title">
        <p>Événements du vieux café</p>
        <h1>Les événements</h1>
    </div>
    <div class="carousel">
        <div class="card card-alignement">
            <div class="card-header">
                <div class="date">
                    <p><span>20</span> <br> NOV</p>
                </div>
                <h2 class="event-title">Soirée <br>Chouffe</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="date">
                    <p><span>20</span> <br> NOV</p>
                </div>
                <h2 class="event-title">Soirée <br>Chouffe</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="date">
                    <p><span>20</span> <br> NOV</p>
                </div>
                <h2 class="event-title">Soirée <br>Chouffe</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="date">
                    <p><span>20</span> <br> NOV</p>
                </div>
                <h2 class="event-title">Soirée <br>Chouffe</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="date">
                    <p><span>20</span> <br> NOV</p>
                </div>
                <h2 class="event-title">Soirée <br>Chouffe</h2>
            </div>
        </div>

    </div>
</section>
