<section class="map-page">
    <div class="background">
        <div class="map"></div>
    </div>
    <div class="card">
        <h3 class="title">Contacts</h3><br>
        <div class="contact">
            <p><span class="category">Adresse</span> <br> 1 Boulevard Gambetta <br>30700 Uzès</p><br>
            <p><span class="category">Telephone</span> <br> 04 66 22 78 65</p><br>
            <p><span class="category">Email</span> <br> levieuxcafe@gmail.com</p><br>
        </div>
    </div>

</section>
