<nav class="topnav" id="myTopnav">
    <a href="javascript:void(0);" class="icon" onclick="navbarTrigger()">
        <i class="fa fa-bars"></i>
    </a>
    <a href="https://www.facebook.com/levieuxcafe/" target="_blank"><i class="fab fa-facebook-square"></i><span></span><span></span></a>
    <a href="https://www.instagram.com/levieuxcafe_uzes/" target="_blank"><i class="fab fa-instagram"></i><span></span><span></span></a>
    <a href="/contact">CONTACTS<span></span><span></span></a>
    <a href="/event">ÉVÉNEMENTS<span></span><span></span></a>
    <a href="/info">CARTES<span></span><span></span></a>
    <a href="/">L’HISTOIRE<span></span><span></span></a>
</nav>

<script>
    function navbarTrigger() {
        const x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
