.landing-page {
  background-image: url("../background.jpeg");

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);

    width: 35px;
    height: 20px;

    img {
      color: #FFFFFF;
    }
  }

}
