.map-page {
  background: #F0F0F0;
  margin: auto;

  .background {
    height: 100%;
    display: flex;
    align-items: center;

    .map {
      height: 50vh;
      width: 100%;
      background-image: url("../assets/images/map.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .card {
    position: relative;
    padding: 2%;
    left: 15%;
    bottom: 55%;

    background: #274066;
    color: #FFFFFF;

    width: 22%;
    height: 40%;
    border-radius: 20px;

    .title {
      font: normal normal bold 48px/58px Montserrat;
    }

    .contact {

      .category {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 780px) {
  .card {
    width: 70% !important;
    height: 40%;
    padding: 6% !important;

    .title {
      font: normal normal bold 38px/48px Montserrat !important;
    }
  }
}