.menu-page {
  background: #F0F0F0;
  padding: 2.5% 5%;

  .title-menu {
    color: #FFFFFF !important;
  }

  .menu-card-title {
    align-self: flex-end;
    padding: 2%;
    z-index: 0;
    color: #274165;
    p {
      font: normal normal 300 20px/24px Montserrat;
    }
    h1 {
      font: normal normal bold 80px/82px Montserrat;
      letter-spacing: 0;
      padding-top: 2%;
    }
  }

  .card-drink {
    flex-direction: row-reverse;
    text-align: right;

    .menu-card-title {
      align-self: flex-end;
      padding: 2%;

      p {
        letter-spacing: 0;
        color: #274165;
      }

      h1 {
        font: normal normal bold 80px/82px Montserrat;
        letter-spacing: 0;
        color: #274165;
        padding-top: 2%;
      }
    }
  }

  .menu-card {
    display: flex;
    .content-drink {
      border-radius: 0 15px 15px 0 !important;
    }

    .menu-card-content {
      background: #FFFFFF;
      z-index: 1;
      width: 80vh;
      //height: 367px;
      padding: 49px;

      box-shadow: 0 1px 5px #00000029;
      border-radius: 15px 0 0 15px;
      display: flex;

      h1 {
        text-align: left;
        font: normal normal bold 35px/82px Montserrat;
        letter-spacing: 0;
        color: #284267;
      }

      p {
        text-align: left;
        color: #000000;
        opacity: 0.59;
      }

      a {
        text-align: left;
        text-decoration: underline;
        font: normal normal bold 10px/82px Montserrat;
        letter-spacing: 0;
        color: #284267;
      }
    }

    .menu-card-image {
      background-image: url("../background.jpeg");
      position: relative;
      width: 45vh;
      //height: 367px;
    }
  }

  .menu-blue-separator {
    position: absolute;
    z-index: 0;
    top: 100vh;
    left: 50%;
    width: 421px;
    height: 106vh;
    background: #284267 0 0 no-repeat padding-box;
    border-radius: 0 0 20px 20px;
  }
}
