.menu-page {
  background: #F0F0F0;
  padding: 2.5% 5%;

  .title-menu {
    color: #FFFFFF !important;
    h1 {
      line-height: 2;
      font-size: 60px !important;
    }
  }

  .menu-card-title {
    align-self: flex-end;
    padding: 2%;
    z-index: 0;
    color: #274165;
    p {
      font: normal normal 300 20px/24px Montserrat;
    }
    h1 {
      font: normal normal bold 80px/82px Montserrat;
      letter-spacing: 0;
      padding-top: 2%;
    }
  }

  .card-drink {
    flex-direction: row-reverse;
    text-align: right;

    .menu-card-title {
      align-self: flex-end;
      padding: 2%;

      p {
        letter-spacing: 0;
        color: #274165;
      }

      h1 {
        font: normal normal bold 80px/82px Montserrat;
        color: #274165;
        padding-top: 2%;
      }
    }
  }

  .menu-card {
    display: flex;
    .content-drink {
      border-radius: 0 15px 15px 0 !important;
    }

    .menu-card-content {
      background: #FFFFFF;
      z-index: 1;
      width: 80vh;
      //height: 367px;
      padding: 49px;

      box-shadow: 0 1px 5px #00000029;
      border-radius: 15px 0 0 15px;
      display: flex;

      h1 {
        text-align: left;
        font: normal normal bold 35px/82px Montserrat;
        letter-spacing: 0;
        color: #284267;
      }

      p {
        text-align: left;
        color: #000000;
        opacity: 0.59;
      }

      a {
        text-align: left;
        text-decoration: underline;
        font: normal normal bold 10px/82px Montserrat;
        letter-spacing: 0;
        color: #284267;
      }
    }

    .menu-card-image {
      position: relative;
      width: 35vh;
      //height: 367px;
    }
    .image-drink {
      position: absolute;
      top: 140.8%;
      left: 34.35%;
      width: 19.2% !important;
      height: 59.3vh !important;
      z-index: 2;
    }
  }

  .menu-blue-separator {
    position: absolute;
    z-index: 0;
    top: 100vh;
    left: 59%;
    width: 421px;
    height: 106vh;
    background: #284267 0 0 no-repeat padding-box;
    border-radius: 0 0 20px 20px;
  }
}

@media (max-width: 780px) {
  .menu-page {
    display: none;
  }
}
